.rain{
    background-color: $bg-color;
    background-image: url(../images/rain.png);
}

.snow{
    background-color: $bg-color;
    background-image: url(../images/snow.png);
}

.night{
    background-color: $bg-color;
    background-image: url(../images/night1.png);
}

.fog{
    background-color: $bg-color;
    background-image: url(../images/fog.png);
}

.clouds{
    background-color: $bg-color;
    background-image: url(../images/clouds.png);
}